<div class="container my-5 py-3 px-3 ">
    <div class="row align-items-center justify-content-center">
        <div class="col-sm-8 col-md-5 mt-n5">
            <h1> <span>Our Event</span></h1>
            <p class="my-3"> This is Some Event that we are conducting and you will be learning more about so and so
                in this event. There will also be other <span>fun activities</span> planned for the Participants. The Sign Up
                is completely free. So make sure you <a href="/signup"><span>Sign up</span></a> and free your calendar for our
                event.
            </p>
        </div>
        <div style="col-sm-8 col-md-5">
            <img src="../images/event.jpg" class="img-fluid" alt="">
        </div>
    </div>
</div>